h1{
    /* display: flex;
    justify-content: center; */
    /* margin: auto; */
    padding:25px;
    color: rgb(206, 148, 97) ;
    font-weight: bold;
}
h3{
    color: rgb(206, 148, 97) ;
    font-weight: bold;
    margin:auto;
    padding: 20px;
    font-family: 'Homemade Apple', cursive;
}

.downloadbtn{
    border-style: none;
    margin-bottom: 20px;
    background-color: rgb(243, 224, 181);
    border-radius: 25px;
   
}