#aboutme {
    display: flex;
    justify-content: center;
    padding: 10%;

}

p {
    color: rgb(206, 148, 97);
    font-weight: bold;
    font-size: 17px;
}
.focus{
    color: rgb(206, 148, 97);
    font-weight: bold;
    font-size: 17px;
}


.container {
    display: flex;
    justify-content: space-around
}

#homepage {
    right: 0%;
    width: 70%;
    padding: 10px;
    margin: 25%;
    border-radius: 80px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.homepage-text {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 40px;
    color: rgb(206, 148, 97);
    margin: auto;
}

.intro {
    font-size: 50px;
    text-align: center;
}

.welcome {
    text-align: center;
    font-family: 'Homemade Apple', cursive;
} 

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    /* [class*="col-"] {
      width: 100%;
    } */

.intro{
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
}
 }
